:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  margin: 0 auto;

}

/* textarea {
  border: 1px solid #d4d4d4;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 1rem;
} */

form span {
  margin-left: 0.5rem;
}

.btn-submit {
  background-color: orange;
  width: 140px;
  border-radius: 15px;
  border: 0;
  color: #ffffff;
  padding: 10px;
  margin-left: 0.5rem;
}

.btn-submit-disable {
  background-color: grey;
  width: 140px;
  border-radius: 15px;
  border: 0;
  color: #ffffff;
  padding: 10px;
  margin-left: 0.5rem;
}


h1 {
  margin: 2rem auto ;
}

mat-form-field {
  width: 150%;
}